<!DOCTYPE html>
<html>
<head>
    <title>AI Registration Assistant</title>
    <p>
    <a href="/admin" class="btn btn-primary">
        View Admin Dashboard
    </a>
    </p>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="chat-container">

        <div class="chat-header">
            AI Registration Assistant
        </div>

        <div id="chat-box"></div>

        <div class="input-area">

            <input
                type="text"
                id="user-input"
                placeholder="Type your message..."
            >

            <button onclick="sendMessage()">
                Send
            </button>

        </div>

    </div>

</div>
</body>
</html>